@mixin font($family, $style, $weight, $size) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
}

.seccionFrases{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #9F9F9F 100%);
    width: 100%;
    
    article{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        line-height: 50px;

        .h2{
            @include font("segoe ui symbol", normal, 700, 1.5rem);
            text-align: center;
            color: #000000;
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

        h3{
            @include font("segoe ui symbol", normal , 300, 22px );
            text-align: center;
            color: #000000;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        }
        }
    }
}

.carousel-inner{

    img{
        width: 100%;
    }
}
