.nav-link{
    margin: 10px;
    font-size: 18px;
    transition: all 0.5s;
    border-radius: 20px;

    &:hover{
        transform: scale($scale);
        background-color: #3b297b;
        border-radius: 20px;
    }
}

.nav-link.active:hover{
    color: rgba(255, 255, 255, 0.9);
}

.logo{
    width: 140px;
}


